.rect {
  position: absolute;
  background: none;
}
.highlight{
  border: 1px solid yellow;
}
.highlight:hover {
  cursor: default;
  background: rgba(55, 131, 249, 0.2);
}
.hide {
  border: 1px solid black;
  background-color: black;
}
.hide:hover{
  background-color: rgb(31, 31, 31);
}

.rect:hover .close {
  display: flex;
}

.rect .close {
  width: 24px;
  height: 24px;
  background: #FFF;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: #999;
  position: absolute;
  right: -12px;
  top: -12px;
  cursor: pointer;
  display: none;
  user-select: none;
}

